{% extends 'layout.html' %}

{% block main %}
<div class="jumbotron">
	<ol class="breadcrumb">
	  <li><span>分类首页</span></li>
	</ol>
</div>
<h3>分类列表</h3>
<table class="table table-hover table-bordered">
	<tr>
		<th>ID</th>
		<th>分类名称</th>		
		<th>操作</th>
	</tr>
	{% for category in categories %}
	<tr>
		<td>{{category._id.toString()}}</td>
		<td>{{category.name}}</td>		
		<td>
			<a href="/admin/category/edit?id={{category._id.toString()}}">修改</a> |
			<a href="/admin/category/delete?id={{category._id.toString()}}">删除</a>
		</td>
	</tr>
	{% endfor %}
</table>

<nav aria-label="...">
  <ul class="pager">
  	<li class="previous">
  		<a href="/admin/category?page={{page-1}}">上一页</a>
  	</li>
  	<li>
  		一共{{count}}条数据，每页显示{{limit}}条数据，共{{pageCount}}页，当前是第{{page}}页。
  	</li>
    <li class="next">
    	<a href="/admin/category?page={{page+1}}">下一页 </a>
    </li>
  </ul>
</nav>

{% endblock %}